*{
    font-family: 'Poppins', sans-serif;
}
.login{
    height: 100vh;
}
.header h1{
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #000;
}
.header p{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #737373;
    margin-bottom: 22px;
}
.login-form label{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 20px;
    color: #000;
}
.login-form input{
    background: #fff;
    border: 1px solid #bcbcbc;
    box-sizing: border-box;
    border-radius: 8px;
}
.login-form a{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #737373;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
}
.login-form .signin{
    width: 100%;
    height: 40px;
    background: #000;
    border-radius: 8px;
    color: #fff;
    border: none;
}
.login-form .signin:hover{
    background: blue;
    

}
.login-form .signin-google{
    width: 100%;
    height: 42px;
    background: #fff;
    border: 1px solid #bcbcbc;
    box-sizing: border-box;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.login-form span{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #737373;
}
.login-form a{
    font-weight: 600;
    color: #000;
}
.login-left{
    background-color: orange;
    animation: login-left 5s ease infinite;
}
@keyframes login-left{
    0%{
        background-color: orange;
    }
    25%{
        background-color: darkorange ;
    }
    50%{
        background-color: greenyellow;
    }
    75%{
        background-color: yellow;
    }
    100%{
        background-color: darkgoldenrod;
    }
} 